cd ..
git clone https://github.com/wwwellerson/relatorios-tecnicos.git
cd relatorios-tecnicos
copy "C:\Users\Wellerson\Desktop\Sistema_Relatorios\backend\requirements.txt" backend/
git add .
git commit -m "Corrige requirements.txt"
git push
